# Local
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_contraseña
DB_NAME=tu_base_de_datos
DB_PORT=3306
DB_SSL=false

# Azure MySQL (descomenta y ajusta)
# DB_HOST=tu-servidor.mysql.database.azure.com
# DB_USER=adminriwi
# DB_PASSWORD=tu_contraseña
# DB_NAME=riwi
# DB_PORT=3306
# DB_SSL=true
