# Conexión a MySQL
DB_HOST=pruebas-riwi.mysql.database.azure.com
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña
DB_NAME=riwi
DB_PORT=3306
DB_SSL=true

# Puerto de la API (cada estudiante debe usar uno diferente)
PORT=3000
